.game-container .game-section {
  width: 40%;
}

@media screen and (min-width: 768px) {
  .game-container .game-section:nth-child(1) {
    padding-left: 10%;
  }
  .game-container .game-section:nth-child(3) {
    padding-right: 10%;
  }
}
