#vs {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 144px;
  line-height: 130px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #bd0000;
}

.result {
  background-color: #4c9654;
  /* background: transparent; */
  border-radius: 10px;
  transform: rotate(-28.87deg);
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
  width: 270px;
  padding: 20px;
}

.resultlost {
  background-color: red;
  /* background: transparent; */
  border-radius: 10px;
  transform: rotate(-28.87deg);
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
  width: 270px;
  padding: 20px;
}

.resultdraw {
  background-color: gray;
  /* background: transparent; */
  border-radius: 10px;
  transform: rotate(-28.87deg);
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
  width: 270px;
  padding: 20px;
}

@media screen and (max-width: 767px) {
  #vs {
    font-size: 70px;
    line-height: 100px;
  }
}
