.selection,
.computer {
  text-align: center;
}
.computer {
  pointer-events: none;
}
.selection img,
.computer img {
  border: none;
  outline: none;
  cursor: pointer;
  width: 128px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.selection img#paper,
.computer img#compaper {
  width: 110px;
}
.selection img.fas:before {
  content: "";
}
img.selected {
  background: #c4c4c4;
}
.selection img,
.computer img {
  padding: 20px;
}

.selection img:hover,
.computer img:hover {
  border-radius: 20%;
  background-color: rgb(224, 224, 224);
}

.show i {
  font-size: 100px;
  color: orange;
}

.activeimg {
  border-radius: 20%;
  background-color: rgb(224, 224, 224);
}

.trophyStyle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
  height: 20%;
}

.iconshare img {
  margin-left: 3px;
  margin-right: 3px;
  width: 20px;
  height: 20px;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.iconsharefb img {
  background: #4267b2;
}
.iconsharett img {
  background: #1da1f2;
}

@media screen and (max-width: 767px) {
  .selection img,
  .computer img {
    width: 60%;
  }
  .selection img#paper,
  .computer img#compaper {
    width: 50%;
  }
}
